.header {
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
}

.header__text {
    font-family: $playfair;
    font-weight: $black-italic;
    font-size: $xx-large;
    color: $white;
    font-style: italic;
    max-width: 70%;
    margin: 0 auto;
    padding: 350px 0;
}

.arrow-icon__logo {
    color: $white;
    font-size: $xx-large;
    padding-bottom: 60px;
}

.arrow-icon__container {
    margin: 0 auto;
    text-align: center;
}